node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
package-lock.json
.env
fresh-by-apollos-firebase-adminsdk-agpgk-2420354ca8.json
Dockerfile
build/
.dockerignore
cloudbuild.yaml

# macOS
.DS_Store
